body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.home-header img{
    width: 50%;
    height: 50%;
}
.home-header {
    text-align: center;
    padding: 20px;
}

.home-header h1 {
    color: #333;
    font-size: 36px;
}

.home-header p {
    font-size: 18px;
    color: #666;
}

.quiz-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
}

.quiz-button:hover {
    background-color: #444;
}

.why-career {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.career-reasons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.reason {
    width: 30%;
    text-align: center;
}

.reason img {
    width: 50%;
    height: 50%;
}

.reason h3 {
    color: #333;
    font-size: 20px;
}

.reason p {
    font-size: 16px;
    color: #666;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; 
}

.logo img {
    height: 50px; 
    background-color: #fff; 
}

.nav-links a {
    text-decoration: none;
    color: #333; 
    margin-left: 20px;
    font-size: 16px; 
}

.nav-links .login-button {
    padding: 10px 20px;
    background-color: #000000; 
    color: #ffffff;
    border-radius: 5px;
}

.nav-links .login-button:hover {
    background-color: #ffffff; 
}
