{% extends 'main.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/stylelogin.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>

    <form method="POST" action="">
        {% csrf_token %}

        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter Email address">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password">
        </div>

        <input type="submit" value="Login" class="login-button">
    </form>

    <div class="login-links">
        <p><a href="#">Forgot Password?</a></p>
        <p><a href="#">Don’t have an Account?</a></p>
    </div>
</div>
{% endblock %}
