{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/stylequizquestions.css' %}">
{% endblock %}

{% block content %}
<div class="quiz-container">
    <h2>Career Path Quiz (Page 5 of 5)</h2>
    <p>Please rate how much you enjoy the following activities, from 1 (Dislike) to 5 (Love it).</p>

    <form method="POST" action="{% url 'quiz_page_5' %}">
        {% csrf_token %}

        <div class="question">
            <p><strong>21. I prefer hands-on work like installation, repair, or assembly.</strong></p>
            {% for i in "12345" %}
              <label><input type="radio" name="q21" value="{{ i }}" {% if data.q21 == i %}checked{% endif %}> {{ i }}</label>
            {% endfor %}
          </div>
          
          <div class="question">
            <p><strong>22. I’m curious about environmental or earth sciences.</strong></p>
            {% for i in "12345" %}
              <label><input type="radio" name="q22" value="{{ i }}" {% if data.q22 == i %}checked{% endif %}> {{ i }}</label>
            {% endfor %}
          </div>
          
          <div class="question">
            <p><strong>23. I enjoy entrepreneurship or managing my own business.</strong></p>
            {% for i in "12345" %}
              <label><input type="radio" name="q23" value="{{ i }}" {% if data.q23 == i %}checked{% endif %}> {{ i }}</label>
            {% endfor %}
          </div>
          
          <div class="question">
            <p><strong>24. I want to improve people’s lives through healthcare or design.</strong></p>
            {% for i in "12345" %}
              <label><input type="radio" name="q24" value="{{ i }}" {% if data.q24 == i %}checked{% endif %}> {{ i }}</label>
            {% endfor %}
          </div>
          
          <div class="question">
            <p><strong>25. I care about serving and protecting my community.</strong></p>
            {% for i in "12345" %}
              <label><input type="radio" name="q25" value="{{ i }}" {% if data.q25 == i %}checked{% endif %}> {{ i }}</label>
            {% endfor %}
          </div>
          

        <div class="quiz-buttons">
            <a href="{% url 'quiz_page_4' %}" class="btn job-desc-btn">← Back</a>
            <button type="submit" class="btn job-desc-btn">Submit →</button>
        </div>
    </form>
</div>
{% endblock %}

