{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/stylequiz.css' %}">
{% endblock %}

{% block content %}
<div class="quiz-intro-container">
    <h2>Discover Your Path</h2>

    <div class="quiz-box">
        <h1>Take Our Quiz</h1>
        <p>
            Not sure which career path is right for you? Our quiz will help you uncover the jobs that match your interests, strengths, and personality.
        </p>
        <ul>
            <li>✅ Quick – only 3–5 minutes</li>
            <li>✅ Personalized results based on your answers</li>
            <li>✅ No login or signup required</li>
        </ul>

        <a href="{% url 'quiz_start' %}" class="start-quiz-button">Start Quiz</a>
    </div>
</div>
{% endblock %}
