{% extends 'main.html' %}
{% load static %}
        
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/stylequizquestions.css' %}">
{% endblock %}
        
{% block content %}
<div class="quiz-container">
    <h2>Career Path Quiz (Page 3 of 5)</h2>
    <p>Please rate how much you enjoy the following activities, from 1 (Dislike) to 5 (Love it).</p>

    <form method="POST" action="{% url 'quiz_page_3' %}">
        {% csrf_token %}
        
        {% if retake %}
        <input type="hidden" name="retake" value="true">
        {% endif %}

        <div class="question">
            <p><strong>11. I’m passionate about advocating for change in my community.</strong></p>
            {% for i in "12345" %}
              <label><input type="radio" name="q11" value="{{ i }}" {% if data.q11 == i %}checked{% endif %}> {{ i }}</label>
            {% endfor %}
          </div>
          
          <div class="question">
            <p><strong>12. I prefer working with animals, nature, or the environment.</strong></p>
            {% for i in "12345" %}
              <label><input type="radio" name="q12" value="{{ i }}" {% if data.q12 == i %}checked{% endif %}> {{ i }}</label>
            {% endfor %}
          </div>
          
          <div class="question">
            <p><strong>13. I want a career that involves sustainability and protecting nature.</strong></p>
            {% for i in "12345" %}
              <label><input type="radio" name="q13" value="{{ i }}" {% if data.q13 == i %}checked{% endif %}> {{ i }}</label>
            {% endfor %}
          </div>
          
          <div class="question">
            <p><strong>14. I enjoy crafting things with my hands and making them work.</strong></p>
            {% for i in "12345" %}
              <label><input type="radio" name="q14" value="{{ i }}" {% if data.q14 == i %}checked{% endif %}> {{ i }}</label>
            {% endfor %}
          </div>
          
          <div class="question">
            <p><strong>15. I enjoy using tools or machinery to repair or build things.</strong></p>
            {% for i in "12345" %}
              <label><input type="radio" name="q15" value="{{ i }}" {% if data.q15 == i %}checked{% endif %}> {{ i }}</label>
            {% endfor %}
          </div>
          

        <div class="quiz-buttons">
            <a href="{% url 'quiz_page_2' %}" class="btn job-desc-btn">← Back</a>
            <button type="submit" class="btn job-desc-btn">Next →</button>
        </div>
    </form>
</div>
{% endblock %}
